@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
	word-break: keep-all;
}

html,
body {
	width: 100%;
}

header {
	background-color: #20c997;
	height: 48px;
	width: 100%;
	display: flex;
	margin-bottom: 1rem;
}

header > h1 {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.header:nth-child(1) {
	padding-top: 32px;
}

.container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-right: auto;
	padding-left: auto;
	margin-bottom: 3rem;
	border-color: #20c997;
	border-width: 1px;
}

.container > hr {
	margin-bottom: 5px;
}

.container > h2 {
	display: inline;
}

footer {
	font-size: 0.875rem;
	color: #adb5bd;
	font-style: italic;
	text-align: center;
	margin: 1rem;
}
