.bookmark-button {
	float: right;
	background-color: var(--bg-page2);
	border: none;
}

.bookmark-button > svg {
	fill: var(--text3);
	background-color: var(--bg-page2);
}

.yellow-bookmark-button > svg {
	fill: yellow;
}

.follower-indicator {
	margin: none;
	font-size: 1rem;
}
