.notice-button {
  fill: var(--text1);
  background-color: inherit;
  border: none;
}

.notice-button > svg {
  fill: var(--text1);
  background-color: inherit;
}

.notice-menu-div {
  display: flex;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid var(--border4);
}

.noticeRefresh-button {
  fill: var(--text1);
  background-color: var(--bg-element1);
  border: none;
}

.noticeRefresh-button > svg {
  fill: var(--text1);
  background-color: var(--bg-element1);
  margin-left: 50px;
}

.notice-container {
  width: 400px;
  margin: 5px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 100%;
  left: 0;
  border: none;
  z-index: 5;
  background: var(--bg-element1);
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
}

.notice-item {
  display: flex;
  border-bottom: 1px solid var(--border4);
}

.notice-item a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  padding: 12px;

  width: 400px;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-decoration: none;
  font-size: 14px;
  color: var(--text1);
}
.notice-item div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  padding: 12px;
  margin-right: 12px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-decoration: none;
  font-size: 14px;
  color: var(--text1);
}
    .notice-item a:visited {
  text-decoration: none;
}
    .notice-item a:hover {
  text-decoration: none;
}
    .notice-item a:focus {
  text-decoration: none;
}
    .notice-item a:hover,
.notice-item a:active {
  text-decoration: none;
}

.undisplay {
  display: none;
}

.notice-blog-img {
  width: 10%;
  height: 10%;
  border-radius: 70%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin: 5px;
  display: flex;
  object-fit: fill;
}
