<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/guide.css" />
		<title>Velog Helper 신규 가이드</title>
	</head>
	<body>
		<header>
			<h1>Velog Helper 신규 가이드</h1>
		</header>
		<main>
			<div class="container">
				<h2>블로그 즐겨찾기 방법</h2>
				<hr />
				<img width="600px" src="/static/guide/add_bookmark.png" />
				<p>
					각 블로그 내부에서 블로그명 바로 옆에 있는 별표시를 눌러서 즐겨찾기
					해주세요.
				</p>
			</div>
			<div class="container">
				<h2>새 글 알림 확인 방법</h2>
				<hr />
				<img width="600px" src="/static/guide/check_new_post.png" />
				<p>
					종 모양의 알림 버튼을 눌러 새 글 알림을 확인해주세요. 만약 북마크한
					블로그가 Velog Helper에 처음 등록된 블로그라면 알림이 표시되는데
					시간이 걸릴 수 있습니다.
				</p>
			</div>
			<div class="container">
				<h2>이메일로 알림 받기</h2>
				<hr />
				<img width="600px" src="/static/guide/set_email.gif" />
				<p>
					만약 크롬을 사용 중이고, 구글 동기화가 되어있다면 자동으로 이메일을
					수집하여 알림을 보냅니다. 하지만 자동으로 수집이 불가능한 경우
					수동으로 등록해주셔야합니다.
				</p>
			</div>
		</main>
		<footer>
			버그 제보 및 PR는 Github로 부탁드립니다.<br />
			Velog Helper | junah.dev@gmail.com | 개인정보 처리 방침
		</footer>
	</body>
</html>
