<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Velog-Helper</title>
		<style>
			html {
				margin: 0;
				padding: 0;
			}
			body {
				margin: 0;
				padding: 0;
			}
			a {
				text-decoration: none;
				color: #ffffff;
			}
			a:link {
				text-decoration: none;
				color: #ffffff;
			}
			a:visited {
				text-decoration: none;
				color: #ffffff;
			}
			a:hover {
				text-decoration: none;
				color: #ffffff;
			}
			a:active {
				text-decoration: none;
				color: #ffffff;
			}
		</style>
	</head>
	<body>
		<div>
			<a
				href="https://chrome.google.com/webstore/detail/velog-helper/limdbpmjjehbmlnmkmaadbkklkmohbag"
				target="_blank"
				><img
					src="https://render.myfonts.net/fonts/font_rend.php?id=0b79a6983364b97a8a7fb9d63a32ee6c&rt=Velog%20Helper&rs=75&w=635&rbe=&sc=2&nie=true&fg=000000&bg=FFFFFF&ft=&nf=1"
					style="
						display: block;
						height: 65px;
						margin: 0 auto;
						margin-bottom: 1rem;
					"
			/></a>
			<div style="max-width: 100%; width: 600px; margin: 0 auto">
				<span class="im">
					<div
						style="
							font-weight: 400;
							margin: 0;
							font-size: 1.25rem;
							color: #868e96;
						"
					>
						이메일 구독되었습니다.
					</div>
					<div
						style="font-weight: 400; margin-top: 0.5rem; font-size: 1.75rem"
					></div>
					<div
						style="
							width: 100%;
							height: 1px;
							background: #cbd3da;
							margin-top: 1rem;
							margin-bottom: 1rem;
						"
					></div>
				</span>
				<div style="display: -webkit-flex; display: -ms-flexbox; display: flex">
					<div style="margin-left: 1.5rem; color: #495057">
						<div style="margin: 0; color: #495057">
							이제부터 북마크한 블로그에서 새 글을 올리면 이메일로 알려드립니다.
							혹시 Velog Helper 사용 중 불편하셨던 점이 있으시다면
							<a
								href="https://github.com/junah201/velog-helper/issues"
								style="color: inherit; text-decoration: underline"
								target="_blank"
								>GitHub</a
							>로 이슈를 남겨주세요. 좋은 서비스를 제공하기 위해서 최선을
							다하겠습니다.
							<br />
						</div>
						<a
							href="https://velog-helper.herokuapp.com/subscription/{{ user_id }}?is_subscribe=false"
							style="
								outline: none;
								border: none;
								background: #f05650;
								color: white;
								padding-top: 0.5rem;
								padding-bottom: 0.5rem;
								font-size: 1rem;
								font-weight: 600;
								display: inline-block;
								padding-left: 1rem;
								padding-right: 1rem;
								margin-top: 1rem;
								border-radius: 4px;
								text-decoration: none;
							"
							target="_blank"
							>구독 해지하기</a
						>
					</div>
				</div>
				<span>
					<div
						style="
							width: 100%;
							height: 1px;
							background: #e9ecef;
							margin-top: 1rem;
							margin-bottom: 1rem;
						"
					></div>
					<div style="font-size: 0.875rem; color: #adb5bd; font-style: italic">
						버그 제보 및 PR는
						<a
							href="https://github.com/junah201/velog-helper"
							style="color: inherit; text-decoration: underline"
							target="_blank"
							>Github</a
						>로 부탁드립니다.
						<br />
						Velog Helper |
						<a
							href="mailto:junah.dev@gmail.com"
							target="_blank"
							style="
								font-size: 0.875rem;
								color: #adb5bd;
								font-style: italic;
								text-decoration: underline;
							"
							>junah.dev@gmail.com</a
						>
						|
						<a
							href="https://junah.notion.site/e297108af58744809dd6b9f1db49efe0"
							target="_blank"
							style="
								font-size: 0.875rem;
								color: #adb5bd;
								font-style: italic;
								text-decoration: underline;
							"
							>개인정보 처리 방침</a
						>
					</div>
				</span>
			</div>
		</div>
	</body>
</html>
